body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EEEEFF;
}

div#viewport-div {
  margin-top: 10px;
  overflow: auto;
  background-color: white;
  div {
    background-color: white;
  }
}

#kitty-container {
  width:90%;
  margin: 10px auto ;
  .kitty {
    float:left;
    margin:10px;
  }
div.kitty {
  img {
    width: 200px;
    height: 150px;
  }
}

}
#single-kitty-detail {
  div {
  float:left;
  margin-right: 10px;
  }
  td.label {
    font-weight: bolder;
  }
}

#update-cat {
  label {
    display: inline-block;
    width:120px;
  }
  ul {
    list-style-type: none;
  }
  input#img {
    width: 360px;
  }
  
}